* {
  margin: 0px;
  padding: 0px;
  gap: 5px;
}

.container {
  text-align: center;
  display: grid;
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: 1fr 4fr;
}

.container div {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  /*grid-area: 1 / 1 / 1 / 5; */
  grid-column: 1 / -1;
  display:grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  height: 10vh;
  min-height: auto;
  padding-left: 5px;
}

.menu{
   align-self: center; 

}

.menu ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.logo {
  justify-self: start;
}

.sidebar {
  background-color: #C50208;
  padding: 10px;
  display: grid;
  /*grid-area: 2 / 1 / 5 / 2;*/
  grid-row: 2/4;
  gap: 10px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  height: 150px;
  min-height: auto;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  height: 150px;
  min-height: auto;
  align-content: center;
}

.nav {
  background-color: #C50208;
  /*grid-area: 2/ 2 / 2 / 2;*/
  grid-column: 2 / 2;
  align-content: center;
  height: 6vh;
  min-height: auto;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;

}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.article {
  background-color: #bccbde;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /*grid-area: 3 / 2 / 3 / 2;*/
  grid-column: 2 / 2;
}

.article p {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  white-space: normal;
  padding: 15px;
  height: 200px;
  min-height: auto;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /*grid-area:4 / 1 / -1 / -1;*/
  grid-column: 1 / -1;
  height: 6vh;
  align-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;

}


a:hover, .photo:hover{
  text-decoration: underline;
  cursor: pointer;
}

a:active, .photo:active{
  color: rgba(228,228,228,0.5);
  cursor: grabbing;
}